# Flask app secret key
SECRET_KEY=your_secret_key_here

# Get your API key from https://xbl.io
OPENXBL_API_KEY=your_api_key_here

# Get your API key from https://steamcommunity.com/dev/apikey
STEAM_API_KEY=your_api_key_here

# Get your API key from https://mailtrap.io/home
MAILTRAP_API_KEY=your_api_key_here
MAILTRAP_SENDER_EMAIL="sender email"
MAILTRAP_SENDER_NAME="sender name"
MAILTRAP_USE_SANDBOX=true
MAILTRAP_INBOX_ID=0

# Allow new users to be registered?
ALLOW_REGISTRATION=false
